
extends partials/_layout

block append css
     link(rel="stylesheet", href="stylesheets/style.css")


block content
    h1 bouchée gourmand 
    img(src="http://55aaaf23b68e91cd64fd-f221e0b562526c79e7c7f9984d2a9080.r96.cf1.rackcdn.com/responsive/1900/55aaaf23b68e91cd64fd-f221e0b562526c79e7c7f9984d2a9080.r96.cf1.rackcdn.com/responsive/16:9/55aaaf23b68e91cd64fd-f221e0b562526c79e7c7f9984d2a9080.r96.cf1.rackcdn.com/restaurants-irs/235011/la-patisserie/French-Pastry-Selections.jpg", alt="patisserie")