body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e5f8fa;
}

a {
  color: rgb(0, 225, 255);
}
img{
  width: 1280px;
}

h1{
  text-align: center;
  color: crimson;
  text-transform: uppercase;
}
